.home-jumbotron {
  margin-bottom: 0px;
}

.carousel-inner {
  max-height: 450px;
}

div.home {
  text-align: center;
}

div.creator {
  text-align: center
}

h1 {
  color: pink;
}

img.bev {
  height: 200px;
  width: 200px;
}

body {
  color: pink;
}
