body {
  background-color:
}

.home-jumbotron {
  margin-bottom: 0px;
}

.carousel-inner {
  max-height: 450px;
}

div.home {
  text-align: center;
}

div.creator {
  text-align: center
}

h1 {
  color: pink;
}

img.bev {
  height: 200px;
  width: 200px;
}

body {
  color: pink;
}

img.social-media {
  height: 40px;
  width: 40px;
  margin: 10px;
}

/* found this on codepen after a Google search*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

ul.footer {
  list-style-type: none;
}
